<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arvindhan.parameter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity
            android:name=".Home"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Qrview"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Url"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PmsMainList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PmsCompletion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InvOil"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParameterList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParameterCompletion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PmsTotalCompletion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RunHourCompletion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalMainList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalibrationCustom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SafetyList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SafetyCompletion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalibrationCompletion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SafetyCustom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParameterCustom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeSub"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".AddAttachment"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ViewAttachment"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParameterListPressure"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParameterListInsulation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParameterListVibration"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.arvindhan.qr.Dueoverdue"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.arvindhan.qr.DueoverdueCustom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.arvindhan.qr.PurSub"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.arvindhan.qr.Polist"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.arvindhan.qr.PoCustom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>